body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-form {
  width: 400px;
  height: 40px;
  background-color: aquamarine;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.search-bar {
  width: 80%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 15px;
}

.search-btn {
  width: 20%;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  margin: 0 auto;
}

.grid-item {
  width: 95%;
  margin: 0 auto;
  background-color: lightsteelblue;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  border-radius: 5px;
}
